<template>
  <div class='nav nova'>
    <div id="navheader">

      <el-menu class="sideNav"
               :class="{hidden:navHidden}"
               :default-active="activeIndex"
               :router="true"
               mode="vertical"
               :collapse="isCollapse">

        <el-menu-item index="">
          <i class="el-icon-more"
             @click="switchCollapse"></i>
        </el-menu-item>

        <el-menu-item index="/">
          <i class="el-icon-s-home"></i>
          <span>Home</span>
        </el-menu-item>

        <el-submenu index="Hinweise">
          <template #title>
            <i class="el-icon-date"></i>
            <span>Hinweise</span>
          </template>
          <el-menu-item index="/blockedroads/suchliste">Such-Ansicht</el-menu-item>
          <el-menu-item index="/blockedroads/autoliste">Auto-Ansicht</el-menu-item>
          <el-menu-item index="/blockedroads/editor">Editor</el-menu-item>
        </el-submenu>

        <el-submenu index="Ausrücken">
          <template #title>
            <i class="el-icon-message-solid danger"></i>
            <span>Ausrücken</span></template>
          <el-menu-item index="/ausruecken/status">Status</el-menu-item>
          <el-menu-item index="/ausruecken/editor">Editor</el-menu-item>
        </el-submenu>

        <el-menu-item index="/settings">
          <i class="el-icon-setting"></i>
          <span>Settings</span>
        </el-menu-item>

      </el-menu>

    </div>

  </div>

</template>
<script>


export default {
  data() {
    return {
      activeIndex: '/',
      isCollapse: true,
      navHidden: false,

      window: {
        width: 0,
        height: 0
      }

    }
  },


  computed: {},

  created() { },

  mounted() {

    this.windowResize()

    window.addEventListener('resize', () => {
      this.windowResize()
    })

    this.eventBus.on('HIDE_NAVIGATION', (state) => {
      this.setMenuVisible(state)
    })

    this.eventBus.on('SWITCH_NAVIGATION', () => {
      this.switchMenuVisible()
    })
  },

  unmount() {
    window.removeEventListener('resize')
  },

  methods: {

    setMenuVisible(state) {
      this.navHidden = state
    },

    switchMenuVisible() {
      this.navHidden = !this.navHidden
    },

    switchCollapse() {
      this.isCollapse = !this.isCollapse
    },

    windowResize() {
      this.window.width = window.innerWidth
      if (this.window.width < 768) {
        this.isCollapse = true
      } else (this.isCollapse = false)
    }
  }
}
</script>


<style lang='scss'>
</style>