<template>
  <div class='widget nova'>

    <div id="nav">
      <lighthouse-menue></lighthouse-menue>

    </div>

  </div>
</template>

<script>

import LighthouseMenue from '@/components/basic/LighthouseMenue'


export default {

  components: {
    LighthouseMenue,

  },

  data() {
    return {}
  },

  computed: {},

  watch: {},

  mounted() { },

  methods: {}
}
</script>
<style lang='scss'>
</style>