<template>
  <div class='widget nova'>
    <el-row type="flex"
            justify="center">
      <el-col :xs="22"
              :md="18"
              :lg="16">
        <item-list></item-list>
      </el-col>
    </el-row>

    <item-editor @closeDialog="closeDialog"></item-editor>
  </div>
</template>
<script>


import ItemList from '@/components/blockedroads/editor/ItemList.vue'
import ItemEditor from '@/components/blockedroads/editor/ItemEditor.vue'

export default {

  components: {
    ItemList,
    ItemEditor
  },

  data() {
    return {}
  },

  computed: {},

  watch: {},

  mounted() { },

  methods: {

    closeDialog() {
      this.eventBus.emit('BLOCKEDROADS_RELOAD_TABLE')
    },

  }
}
</script>
<style lang='scss'>
</style>