<template>
  <div class='widget nova'>

    <el-card class="blue-header small-header small-footer">
      <template #header>
        <div class="card-header">
          Gespeicherte Einträge
        </div>
      </template>
      <div class="card-body">
        <el-table :data=pagedTableData
                  size="mini"
                  stripe
                  border>
          <el-table-column label="ID"
                           prop="id"
                           width="100px">
          </el-table-column>
          <el-table-column label="Titel"
                           prop="BlockedTitle">
          </el-table-column>
          <el-table-column label="Von"
                           prop="BlockedFromDate"
                           width="150px">
            <template #default="slot">
              <el-date-picker v-model="slot.row.BlockedFromDate"
                              class="w120"
                              size="mini"
                              format="DD.MM.YYYY"
                              @change="updateDateColumn(slot.row.id, 'BlockedFromDate', slot.row.BlockedFromDate)">
              </el-date-picker>
            </template>
          </el-table-column>
          <el-table-column label="Bis"
                           prop="BlockedToDate"
                           width="150px">
            <template #default="slot">
              <el-date-picker v-model="slot.row.BlockedToDate"
                              class="w120"
                              size="mini"
                              format="DD.MM.YYYY"
                              @change="updateDateColumn(slot.row.id, 'BlockedToDate', slot.row.BlockedToDate)">
              </el-date-picker>
            </template>
          </el-table-column>
          <el-table-column label="Aktiv"
                           prop="BlockedActive"
                           width="100px">
            <template #default="slot">
              <el-checkbox v-model="slot.row.BlockedActive"
                           true-label="1"
                           false-label="0"
                           @change="updateItem(slot.row.id, 'BlockedActive', slot.row.BlockedActive)">
              </el-checkbox>
            </template>
          </el-table-column>
          <el-table-column width="120px">
            <template #default="slot">
              <el-button size="mini"
                         icon="el-icon-edit"
                         type="info"
                         @click="editItem(slot.row.id)">
              </el-button>
              <el-button size="mini"
                         icon="el-icon-delete"
                         type="danger"
                         @click="deleteItem(slot.row.id)">
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination layout="prev, pager, next"
                       :total="numRecords"
                       @current-change="setPage"
                       :page-size="pageSize"
                       :hide-on-single-page="true">
        </el-pagination>
      </div>
      <div class="card-footer">
        <div class="right">
          <el-button type="info"
                     size="mini"
                     @click="insertItem(undefined, 'insert')">
            Neuer Eintrag
          </el-button>
        </div>
      </div>
    </el-card>

  </div>
</template>
<script>

import { DateTime } from "luxon";
import tools from '@/tools/tools.js'

export default {
  data() {
    return {
      loadingData: false,
      pageSize: 10,
      page: 1,

      items: [],
    }
  },

  computed: {
    pagedTableData() {
      if (this.items) {
        return this.items.slice(this.pageSize * this.page - this.pageSize, this.pageSize * this.page)
      } else {
        return this.items
      }
    },


    numRecords() {
      if (this.items) {
        return this.items.length
      } else {
        return 0
      }
    },
  },

  watch: {},

  mounted() {
    this.eventBus.on('BLOCKEDROADS_RELOAD_TABLE', () => {
      this.init()
    })
    this.init()
  },

  methods: {

    /**
     * init()
     * Loader-Indicator umschalten
     * Alle Datensätze aus der Tabelle BlockedRoads laden und in dem Array blockedRoads speichern
     */
    async init() {
      this.loadingData = true
      this.items = await this.loadItems()
      this.loadingData = false
    },



    /**
     * loadItems()
     * Die Datensätze mit axios laden.
     */
    loadItems() {
      const url = '../public/api/blockedRoads/read.small.php'
      return this.axios
        .get(url)
        .then(result => result.data.records)
        .catch(error => console.error("Error: ", error, url))
    },




    /**
     * deleteItem()
     * Einen Datensatz nach einem Confirm aus der Tabelle löschen
     * @param id
     */
    deleteItem(id) {
      this.$confirm('Soll dieser Eintrag gelöscht werden?', {
        confirmButtonText: 'Ja',
        cancelButtonText: 'Nein',
      })
        .then(() => {
          const url = `../public/api/blockedRoads/delete.php?id=${id}`
          this.axios
            .get(url)
            .then(() => this.init())
            .catch(error => console.error("Error: ", error, url))
        })
        .catch(() => { this.$message({ message: "Aktion abgebrochen", type: "Info" }) })
    },




    /**
     * insertRow
     * Einen neuen Datensatz für eine Sperrung anlegen.
     * Modus umschalten auf "insert"
     * event an Dialog senden
     * @param id: - undefined
     * @param mode: - 'insert' Modus für den Dialog
     */
    insertItem(id, mode) {
      this.eventBus.emit('BLOCKEDROADS_INSERT_ROW', { id: id, mode: mode })
    },



    /**
     * editItem()
     * Ein Item zum Editieren in den ItemEditor laden
     * Emitte einen Event und gebe die id des Items mit
     * @param {integer} id  ID des Items
     */
    editItem(id) {
      this.eventBus.emit('BLOCKEDROADS_EDIT_ITEM', id)
    },



    /**
     * updateItem() 
     * Ein Update für eine Spalte aus Item ausführen
     * @param {integer} id - id des zu aktualisierenden Items
     * @param {string} column - zu aktualisierende Spalte
     * @param {string|integer} value - neuer Wert des Items
     */
    updateItem(id, column, value) {
      const obj = {
        id: id,
        column: column,
        value: value
      }
      const data = tools.toFormData(obj)
      const url = 'public/api/blockedRoads/update.column.php'
      this.axios
        .post(url, data)
        .then(result => {
          if (result.data.affected == 1) {
            this.$message({
              message: 'Update erfolgreich',
              type: 'success'
            })
          }
        })
        .catch(error => console.error("Error: ", error, url))
    },




    /**
     * updateDateColumn()
     * Ein Datumsfeld wurde geändert - Das Datum muss in ein mysql-kombatibles Format 
     * geändert werden (el-date-picker gibt immmer ein JS-Date zurück)
     * Anschließend das korrekt konvertiterte Datum in die Property mit den Datensätzen 
     * zurückschreiben und dann die Zeile in der Datenbank aktualisieren.
     * @param {integer} id - id des zu aktualisierenden Items
     * @param {string} column - zu aktualisierende Datums-Spalte
     * @param {string} value - neues Datum für dieses Item
     */
    updateDateColumn(id, column, value) {
      if (typeof (value) == 'object') {
        value = DateTime.fromJSDate(value).toFormat('yyyy-MM-dd')
      }
      this.items.forEach(item => {
        if (item.id == id) { item[column] = value }
      })

      this.updateItem(id, column, value)
    },


    /**
     * Paginierung der Tabelle
     * die aktuelle, berechnete Seite laden
     * @param {integer} page - anzuzeigende Seite
     */
    setPage(val) {
      this.page = val
    },



  }
}
</script>
<style lang='scss'>
</style>