<template>
  <div class='widget nova'>

    <el-dialog v-model="dialogVisible"
               custom-class="no-header"
               :show-close=false
               :close-on-click-modal=false
               :close-on-press-escape=false
               fullscreen>
      <el-row type="flex"
              justify="center">
        <el-col :xs="22"
                :md="16"
                :xl="12">

          <el-card class="blue-header small-header small-footer">
            <template #header>
              <div class="card-header">
                Eintrag bearbeiten oder einfügen
              </div>
            </template>

            <div class="card-body">
              <el-form size="mini"
                       label-position="right"
                       label-width="120px">

                <el-row type="flex"
                        :gutter="12">
                  <el-col :xs="24"
                          :md="12">
                    <el-form-item label="id">
                      <el-input v-model="currentRecord.id"
                                readonly></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row type="flex"
                        :gutter="12">
                  <el-col :xs="24"
                          :md="12">
                    <el-form-item class="input-left"
                                  label="Aktiv">
                      <el-checkbox v-model="currentRecord.BlockedActive"
                                   true-label="1"
                                   false-label="0">
                      </el-checkbox>
                    </el-form-item>
                  </el-col>
                  <el-col :xs="24"
                          :md="8">
                    <el-form-item class="input-left"
                                  label="OnScreen">
                      <el-checkbox v-model="currentRecord.BlockedOnMonitor"
                                   true-label="1"
                                   false-label="0">
                      </el-checkbox>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="12">
                  <el-col :xs="24">
                    <el-form-item label="Titel">
                      <el-input v-model="currentRecord.BlockedTitle"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="12">
                  <el-col :xs="24">
                    <el-form-item label="Inhalt">
                      <el-input v-model="currentRecord.BlockedText"
                                type="textarea"
                                :autosize="{ minRows: 6, maxRows: 20}">
                      </el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="12">
                  <el-col :xs="24">
                    <el-form-item label="Link">
                      <el-input v-model="currentRecord.BlockedLink"
                                placeholder="http://www.mysite.com"
                                clearable>
                      </el-input>
                    </el-form-item>
                  </el-col>

                  <el-col :xs="12"
                          :md="12"
                          :lg="12">
                    <el-form-item label="Link-Text">
                      <el-input v-model="currentRecord.BlockedLinkText"
                                placeholder="Linktext"
                                clearable
                                maxlength="40">
                      </el-input>
                    </el-form-item>
                  </el-col>

                  <el-col :xs="12"
                          :md="12"
                          :lg="12">
                    <el-form-item label="Art, Type">
                      <el-select v-model="currentRecord.BlockedType">
                        <el-option label="Hinweis"
                                   value="Hinweis"></el-option>
                        <el-option label="Sperrung"
                                   value="Sperrung"></el-option>
                        <el-option label="Notiz"
                                   value="Notiz"></el-option>
                      </el-select>

                    </el-form-item>
                  </el-col>
                </el-row>

                <el-row :gutter="12">
                  <el-col :xs="24"
                          :md="12">
                    <el-form-item label="Von">
                      <el-date-picker v-model="currentRecord.BlockedFromDate"
                                      class="w120"
                                      size="mini"
                                      format="DD.MM.YYYY"
                                      @change="convertDate(currentRecord.BlockedFromDate,'BlockedFromDate')">
                      </el-date-picker>
                    </el-form-item>
                  </el-col>
                  <el-col :xs="24"
                          :md="12">
                    <el-form-item label="Von">
                      <el-date-picker v-model="currentRecord.BlockedToDate"
                                      class="w120"
                                      size="mini"
                                      format="DD.MM.YYYY"
                                      @change="convertDate(currentRecord.BlockedToDate ,'BlockedToDate')">
                      </el-date-picker>
                    </el-form-item>
                  </el-col>
                </el-row>

              </el-form>

              {{mode}}
            </div>

            <div class="card-footer">
              <el-button v-if="mode=='edit'"
                         type="success"
                         size="mini"
                         icon="el-icon-check"
                         @click="updateCurrentRecord(currentRecord)">
                Update
              </el-button>
              <el-button v-if="mode=='insert'"
                         type="success"
                         size="mini"
                         icon="el-icon-check"
                         @click="insertCurrentRecord(currentRecord)">
                einfügen
              </el-button>
              <el-button type="info"
                         size="mini"
                         icon="el-icon-close"
                         @click="closeDialog(false)">
                Cancel
              </el-button>
            </div>
          </el-card>
        </el-col>
      </el-row>
    </el-dialog>
  </div>

</template>
<script>

import tools from '@/tools/tools'
import { DateTime } from "luxon";


export default {
  data() {
    return {
      loadingData: false,
      dialogVisible: false,
      currentRecord: {},
      mode: undefined,
      appSettings: [],
      shortNames: [],
    }
  },


  mounted() {
    this.init()
  },



  watch: {
  },



  methods: {



    async init() {
      this.eventBus.on('BLOCKEDROADS_EDIT_ITEM', async (id) => {
        this.editItem(id, 'edit')
      })
      this.eventBus.on('BLOCKEDROADS_INSERT_ROW', (data) => {
        this.insertRow(data.mode)
      })
      await this.$store.dispatch('readSettings')
      this.appSettings = await this.$store.getters.appSettingsAsHash('blockedRoads')
      this.shortNames = this.appSettings.prolongNames.split(";")
    },





    /**
     * InsertRow
     * Einen neuen Datensatz in die Tabelle einffügen
     * Object mit Default-Werten erstellen und im Dialog anzeigen
     * @param mode - "insert"
     */
    async insertRow(mode) {
      this.currentRecord = {
        BlockedActive: "1",
        BlockedFromDate: DateTime.now().toFormat('yyyy-MM-dd').toString(),
        BlockedToDate: DateTime.now().toFormat('yyyy-MM-dd').toString(),
        BlockedOnMonitor: 0,
        BlockedTitle: 'Neuer Eintrag',
        BlockedText: '',
        BlockedLink: '',
      }
      this.mode = mode
      this.dialogVisible = true
    },





    /**
     * EditItem
     * Dialog sichtbar machen
     * Loader anzeigen
     * Einen Datensatz aus der Tabelle laden und in currentRecord ablegen.
     * CurrentRecord wird zum Anzeigen und Editieren verwendet.
     * Loader verstecken
     * @param id id des zu ladenden Datensatzes
     * @param mode - "edit"
     */
    async editItem(id, mode) {
      this.dialogVisible = true
      this.loadingData = true
      this.mode = mode
      this.currentRecord = await this.loadData(id)
      this.loadingData = false
    },



    /**
     * Datensatz laden und returnen
     * @param id - ID des zu ladenden Datensatzes
     */
    loadData(id) {
      const url = `../public/api/blockedRoads/read.byid.php?id=${id}`
      return this.axios
        .get(url)
        .then(result => result.data.record)
        .catch(error => console.error("Error: ", error, url))
    },



    /**
     * Änderungen aus dem Dialog zurück in die Datenbank schreiben
     * Bei Erfolg eine Meldung ausgeben (message)
     * Im Fehlerfall: Log und Message
     * @param record - JSON Record mit den Daten
     */
    updateCurrentRecord(record) {
      record.BlockedText = this.prolongNames(record.BlockedText)
      record.BlockedTitle = this.prolongNames(record.BlockedTitle)
      const data = tools.toFormData(record)
      const url = '../public/api/blockedRoads/update.php'
      this.axios
        .post(url, data)
        .then(() => {
          this.$message({ message: 'Die Daten wurden aktualisiert', type: 'success' })
          this.closeDialog(true)
        })
        .catch(error => {
          console.error("Error: ", error, url)
          this.$message({ message: `Update-Fehler: ${url}`, type: 'danger' })
        })
    },



    /**
     * Den aktuellen Datensatz in die Tabelle einfügen und ein Feedback an den user geben. 
     * Dialog schliessen
     * $emit Reload Data an Parent
     */
    insertCurrentRecord(record) {
      record.BlockedText = this.prolongNames(record.BlockedText)
      record.BlockedTitle = this.prolongNames(record.BlockedTitle)
      const data = tools.toFormData(record)
      const url = `../public/api/blockedRoads/insert.php`
      this.axios
        .post(url, data)
        .then(() => {
          this.$message({ message: 'Die Daten wurden eingefügt', type: 'success' })
          this.closeDialog(true)
        })
        .catch(error => {
          console.error("Error: ", error, url)
          this.$message({ message: `Insert-Fehler: ${url} ${data}`, type: 'danger' })
        })
    },



    /** 
     * Der Dialog soll geschlossen werden
     * Falls ein Item aktualisiert oder eingefügt wurde, soll ein Event emittet werden. 
     */
    closeDialog(update) {
      this.dialogVisible = false
      if (update == true) { this.$emit('closeDialog') }
    },



    /**
     * convertDate()
     * Ein Datumsfeld wurde geändert - Das Datum muss in ein mysql-kombatibles Format 
     * geändert werden (el-date-picker gibt immmer ein JS-Date zurück)
     * Anschließend das korrekt konvertiterte Datum in die Property mit den Datensätzen 
     * zurückschreiben und dann die Zeile in der Datenbank aktualisieren.
    * @param {string} column - zu aktualisierende Datums-Spalte
    * @param {string} dateValue - neues Datum für dieses Item
    */
    convertDate(dateValue, column) {
      if (typeof (dateValue) == 'object') {
        dateValue = DateTime.fromJSDate(dateValue).toFormat('yyyy-MM-dd')
      }
      this.currentRecord[column] = dateValue
    },



    /**
     * proLongNames(text)
     * Die Mindestwortlänge beträgt für eine Suche mit Fulltext-Index beträgt 4 Zeichen. 
     * Damit auch Worte wie z.B. "Olk" gefunden werden, werden Suchbegriffe mit 3 Zeichen um einen 
     * Underscore verlängert. "Olk -> Olk_"
     * @param {string} text - Text, in dem Zeichenfolgen ersetzt - verlängert werden sollen
     */
    prolongNames(text) {
      for (let i = 0; i < this.shortNames.length; i++) {
        const item = this.shortNames[i]
        const find = "\\b" + item + "\\b"
        const replace = `${item}_`
        text = text.replace(new RegExp(find, 'ig'), replace);
      }
      return text
    },

  }
}
</script>

<style lang='scss'>
</style>