<template>
  <div class='widget nova'>
    <el-row type="flex"
            justify="center">
      <el-col :xs="22"
              :sm="20"
              :md="14"
              :xl="10">
        <el-card class="blue-header small-header">
          <template #header>
            <div class="card-header">
              Einsätze - Editor
            </div>
          </template>
          <div class="card-body">
            <el-form label-position="left"
                     label-width="160px"
                     size="mini">

              <el-form-item label="FEZ besetzt">
                <el-radio-group v-model="data.ausrueckenFEZBesetzt"
                                @change="updateData(data)">
                  <el-radio-button label="1">Ja</el-radio-button>
                  <el-radio-button label="0">Nein</el-radio-button>
                </el-radio-group>
              </el-form-item>

              <el-form-item label="TLF ausrücken">
                <el-radio-group v-model="data.ausrueckenTLF"
                                @change="updateData(data)">
                  <el-radio-button label="1">Ja</el-radio-button>
                  <el-radio-button label="0">Nein</el-radio-button>
                </el-radio-group>
              </el-form-item>

              <el-form-item label="HLF ausrücken">
                <el-radio-group v-model="data.ausrueckenHLF"
                                @change="updateData(data)">
                  <el-radio-button label="1">Ja</el-radio-button>
                  <el-radio-button label="0">Nein</el-radio-button>
                </el-radio-group>
              </el-form-item>

              <el-form-item label="Einsatzart">
                <el-select v-model="data.ausrueckenEinsatzArt"
                           @change="updateData(data)">
                  <el-option v-for="einsatzArt in einsatzArten"
                             :key="einsatzArt.value"
                             :label="einsatzArt.value"
                             :value="einsatzArt.value">
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Einsatzort">
                <el-input v-model="data.ausrueckenAdresse"
                          @blur="updateData(data)"
                          clearable>
                </el-input>
              </el-form-item>

            </el-form>
          </div>
        </el-card>
      </el-col>
    </el-row>

  </div>
</template>
<script>

import tools from '@/tools/tools.js'

export default {
  data() {
    return {
      data: [],
      einsatzArten: [
        { value: 'Kein Einsatz' },
        { value: 'Brandeinsatz' },
        { value: 'TH-Einsatz (Unfall)' },
        { value: 'TH-Einsatz (Sonstiger)' },
        { value: 'Umwelteinsatz' },
        { value: 'Unwetter-Einsatz' },
        { value: 'Personensuche' },
        { value: 'Sonstiges' }
      ]
    }
  },


  mounted() {
    this.init()
  },


  methods: {

    async init() {
      this.data = await this.loadData()
    },



    loadData() {
      const url = 'public/api/ausruecken/read.php'
      return this.axios
        .get(url)
        .then(result => result.data.record)
        .catch(error => console.error("Error: ", error, url))
    },



    updateData(newData) {
      const url = 'public/api/ausruecken/update.php'
      const data = tools.toFormData(newData)
      this.axios
        .post(url, data)
        .then(result => console.log(result.data))
        .catch(error => console.error("Error: ", error, url))
    },


  }
}
</script>
<style lang='scss'>
</style>