<template>
  <div class='widget nova'>

    <el-row class="status-row"
            :class="data.ausrueckenFEZBesetzt==1? 'bg-success' : 'bg-danger'"
            type="flex"
            justify="center">
      <el-col :span="20"
              :offset="2">
        <span v-if="data.ausrueckenFEZBesetzt == 1">FEZ BESETZT</span>
        <span v-if="data.ausrueckenFEZBesetzt == 0">FEZ NICHT BESETZT</span>
      </el-col>
      <el-col :span="2">

        <i class="el-icon-more"
           @click="switchMenuHidden"></i>
      </el-col>
    </el-row>

    <el-row class="status-row-large bg-primary"
            type="flex"
            justify="center">
      Einsatz: {{data.ausrueckenEinsatzArt}}<br>
      {{data.ausrueckenAdresse}}
    </el-row>

  </div>
</template>
<script>
export default {

  props: ['data'],

  data() {
    return {}
  },

  methods: {
    switchMenuHidden() {
      this.eventBus.emit('SWITCH_NAVIGATION')
    }
  }
}
</script>
<style lang='scss'>
</style>