<template>
  <div class='widget'>
    <el-card class="small-header full-size-body"
             :class="ausruecken==1 ? 'success' : 'danger'">
      <template #header>
        <div class="card-header">
          <span>{{fahrzeugname}}</span>
        </div>
      </template>
      <div class="card-body">
        <img :src="image"
             class="fzg-image">
      </div>
      <div class="card-footer">
        <span v-if="ausruecken==1">Ausrücken</span>
        <span v-if="ausruecken==0">NICHT AUSRÜCKEN!</span>
      </div>
    </el-card>
  </div>
</template>
<script>
export default {


  /**
   * Fahrzeugname: {String} - Anzeige als Titel in den Cards
   * image: {String} - Url zum Laden der Bilder
   * ausruecken {int} - 1: ausrücken; 2: nicht ausrücken
   */
  props: ['fahrzeugname', 'image', 'ausruecken'],

  data() {
    return {}
  },

  methods: {}
}
</script>
<style lang='scss'>
.fzg-image {
  display: block;
  width: 100%;
}

.el-card.full-size-body {
  .el-card__body {
    padding: 5px !important;
  }

  div.card-body {
    padding: 0px !important;
  }
}
</style>