<template>
  <div class='widget nova'>
    <el-row>
      <el-col :xs="24">

        <einsatz :data="data"></einsatz>

        <el-row>
          <el-col :xs="24"
                  :sm="12">
            <fahrzeug fahrzeugname='TLF'
                      :ausruecken=data.ausrueckenTLF
                      :image="tlf">
            </fahrzeug>
          </el-col>

          <el-col :xs="24"
                  :sm="12">
            <fahrzeug fahrzeugname="HLF"
                      :ausruecken=data.ausrueckenHLF
                      :image="hlf">
            </fahrzeug>
          </el-col>
        </el-row>

      </el-col>
    </el-row>

  </div>
</template>

<script>

import Fahrzeug from '@/components/ausruecken/Fahrzeug.vue'
import Einsatz from '@/components/ausruecken/Einsatz.vue'

export default {

  props: ['data'],

  components: {
    Fahrzeug,
    Einsatz,
  },

  data() {
    return {
      appSettings: [],
    }
  },


  computed: {
    tlf() {
      return require('@/assets/' + "img_tlf_horizontal.jpg");
    },
    hlf() {
      return require('@/assets/' + "img_hlf_horizontal.jpg");
    },


  },



  mounted() {
    this.init()
  },



  unmounted() {
    this.switchMenuHidden(false)
  },

  methods: {

    switchMenuHidden(state) {
      this.eventBus.emit('HIDE_NAVIGATION', state)
    },



    async init() {
      this.switchMenuHidden(true)
      await this.$store.dispatch('readSettings')
      this.appSettings = await this.$store.getters.appSettingsAsHash('ausruecken')
    },


  }
}
</script>


<style lang='scss'>
</style>