html,
body,
#app {
  height: calc(100% - 5px) !important;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.el-container {
  height: 100% !important;
}

.el-main {
  padding: 0px !important;

}

.el-aside {
  height: 100%;
  width: auto !important;

}





.el-menu {
  text-align: left !important;
  border-right: none !important;
  padding-right: 8px;
}

li.el-menu-item,
div.el-submenu__title {
  padding-left: 10px !important;
  border-right: none !important;
}

.sideNav:not(.el-menu--collapse) {
  width: 220px;
}

.sideNav.el-menu--collapse {
  width: 50px;
}

.el-menu.hidden {
  display: none;
}