$--color-primary:rgba(0, 109, 143, 1) !default;
$--color-success:rgba(102, 194, 75, 1) !default;
$--color-secondary:rgba(200, 240, 255, 1) !default;
$--color-warning:rgba(220, 142, 35, 1) !default;
$--color_danger: rgba(230, 90, 80, 1) !default;
$--color-brown: rgba(102, 94, 75, 1) !default;

$color_dialog-divider: rgba(225, 228, 235, 1);
$color_dialog-footer: rgba(245, 245, 245, 1);


//$color_light-blue: rgba(245, 247, 250, 1);
$color_light-blue: rgba(210, 230, 240, 1);

$color_light-red: rgba(250, 220, 220, 1);
$color_light-green: rgba(220, 250, 220, 1);


$color_card-divider: $color_dialog-divider;
$color_menu-divider: $color_dialog-divider;
$color-card-footer: $color_dialog-footer;

$color-table-border: $color_dialog-divider;

$color_blue-background:$color_light-blue;