/* el-table */

.el-table .red-row {
  background: $color_light-red;
}


.el-table .green-row {
  background: $color_light-green;
}

/* el-table with nova */

/* special input for el-table-column-xp with sortable option*/

div.el-table.nova-table {
  th.is-sortable {
    div.el-input {
      width: calc(100% - 25px);
    }
  }

}






/* HTML-Table with nova */

table.nova {
  border-collapse: collapse;
  width: 100%;

  th {
    height: 38px;
  }

  td,
  th {
    padding: 6px 7px;
    font-size: 15px;
  }


  tr.green-row {
    background-color: $color_light-green;
  }

  tr.red-row {
    background-color: $color_light-red;
  }

}



table.nova.border {

  td,
  th {
    border: 1px solid #ccc;
  }
}



table.nova.row-border {
  tr {
    border-bottom: 1px solid #ccc !important;
  }
}



table.nova.small {

  td,
  th {
    font-size: 13px;
    padding: 5px 7px;
  }
}

table.nova.mini {

  td,
  th {
    font-size: 12px;
    padding: 3px 7px;
  }
}


table.nova.blue-header {
  thead {
    background-color: $color_blue-background;
  }

  th {
    background-color: $color_blue-background;
  }
}


table.nova.stripe {
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}