.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text-left {
  text-align: left;
}


div.inline {
  display: inline !important;
}

i.icon-big {
  font-size: 24px;
  position: relative;
  top: 2px;
}

i.icon-red {
  color: maroon !important;
}

.icon-green {
  color: green !important;
}


p.small,
span.small {
  font-size: 14px;
  color: rgba(48, 49, 51, 1)
}


.is-loading {
  background-color: $--color-warning !important;
}

.is-error {
  background-color: $--color-danger !important;
}

.is-done {
  background-color: $--color-secondary !important;
}


div.is-link:hover {
  cursor: pointer;
}

div.is-link.success {
  color: $--color-success;
}



.success {
  color: $--color-success;
}

.primary {
  color: $--color-primary;
}

.secondary {
  color: $--color-secondary;
}

.warning {
  color: $--color-warning;
}

.danger {
  color: $--color-danger;
}


.bg-success {
  background-color: $--color-success;
}

.bg-danger {
  background-color: $--color-danger;
}

.bg-primary {
  background-color: $--color-secondary;
}