div.nova {

  div.el-card {

    div.el-card__body {

      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;

      div.card-body {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }

      div.card-body.scroll {
        overflow-y: scroll;
      }

      div.card-footer,
      div.bottom {
        padding: 16px 25px 20px 25px;
        min-height: 20px;
        border-top: 1px solid $color_card-divider;
        background-color: $color-card-footer;
      }
    }
  }

  div.el-card.blue-header {
    div.el-card__header {
      background-color: $color_blue-background;
    }
  }

  div.el-card.small-header {
    div.el-card__header {
      height: 38px;
      padding-top: 10px;
      font-size: 14px;
    }
  }

  div.el-card.no-shadow {
    box-shadow: none !important;
  }


  .el-card.hero {
    min-height: 825px;
    max-height: 825px;
    height: 825px;

    div.card-body {
      min-height: 670px;
      max-height: 670px;
      height: 670px;
    }
  }

  .hero.small-header {
    div.card-body {
      min-height: 690px;
      max-height: 690px;
      height: 690px;
    }
  }
}