.w50 {
  width: 50px !important;
}

.w60 {
  width: 60px !important;
}

.w75 {
  width: 75px !important;
}

.w90 {
  width: 90px !important;
}

.w95 {
  width: 92px !important;
}

.w100 {
  width: 100px !important;
}

.w110 {
  width: 110px !important;
}

.w120 {
  width: 120px !important;
}

.w130 {
  width: 130px !important;
}

.w140 {
  width: 140px !important;
}

.w150 {
  width: 150px !important;
}

.w160 {
  width: 160px !important;
}

.w170 {
  width: 170px !important;
}

.w180 {
  width: 180px !important;
}

.w190 {
  width: 190px !important;
}

.w200 {
  width: 200px !important;
}

.w210 {
  width: 210px !important;
}

.w220 {
  width: 220px !important;
}

.w250 {
  width: 250px !important;
}

.w280 {
  width: 280px !important;
}

.w300 {
  width: 300px !important;
}

.w320 {
  width: 320px !important;
}

.w400 {
  width: 400px !important;
}

.h120 {
  height: 120px !important;
}

.h140 {
  height: 120px !important;
}

.h180 {
  height: 180px !important;
}

.h200 {
  height: 200px !important;
}

.h220 {
  height: 220px !important;
}

.h780 {
  height: 800px !important;
}