/* Alle Messages in der Anwendung auf die einheitliche Schriftart setzen */
* {
  font-family: Avenir,
    Helvetica,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}