<template>
  <div class='widget nova'>

    <el-dialog v-model="isVisible"
               fullscreen
               :show-close="false"
               custom-class="no-header">
      <el-row type="flex"
              justify="center">
        <el-col :xs="24"
                :sm="22"
                :md="14"
                :lg="12"
                :xl="8">
          <el-card class="nova blue-header small-header">
            <template #header>
              <div class="card-header">
                {{currentItem.BlockedType}}
                <span v-if="currentItem.BlockedType=='Notiz'"><i class="el-icon-edit-outline warning"></i></span>
                <span v-if="currentItem.BlockedType=='Hinweis'"><i class="el-icon-collection-tag primary"></i></span>
                <span v-if="currentItem.BlockedType=='Sperrung'"><i class="el-icon-remove-outline danger"></i></span>
              </div>
            </template>

            <div class="card-body">

              <table class="nova border">
                <tr>
                  <td class="item-title">
                    <div v-html="displayTitle">

                    </div>
                  </td>
                  <td class="item-date"
                      width="33%">
                    {{niceDate(currentItem.BlockedFromDate)}} - {{niceDate(currentItem.BlockedToDate)}}
                  </td>
                </tr>
                <tr>
                  <td colspan="2"
                      class="item-text">
                    <div v-html="displayText"></div>
                  </td>
                </tr>
                <tr>
                  <td class="item-link">
                    <span @click="openUrl(currentItem.BlockedLink)"><i class="el-icon-link"></i> {{shortLink}}</span>
                  </td>
                  <td class="item-id">
                    Nr: {{currentItem.id}}
                  </td>
                </tr>
              </table>

            </div>
            <div class="card-footer">
              <el-button size="mini"
                         class="nova"
                         @click="closeDialog">
                Schliesen
              </el-button>

            </div>
          </el-card>

        </el-col>
      </el-row>

    </el-dialog>

  </div>
</template>
<script>


import { DateTime } from 'luxon'

export default {

  props: ['currentItem', 'dlgVisible', 'displayText', 'displayTitle'],

  data() {
    return {}
  },

  computed: {
    isVisible: {
      get() {
        return this.dlgVisible ? this.dlgVisible : false

      },
      set(newValue) {
        if (newValue == false) {
          this.$emit('CLOSEDIALOG')
        }
      }
    },


    shortLink() {
      if (this.currentItem.BlockedLink.length > 40) {
        const link = this.currentItem.BlockedLink.substring(0, 40) + ' ... ';
        return link
      } else return this.currentItem.BlockedLink
    },

  },

  watch: {},

  mounted() { },

  methods: {

    /** 
     * niceDate(mysqlDate)
     * @param {string} Datum im Format yyyy-MM-dd
     * @returns {string} Datum im Format dd.MM.yyyy
    */
    niceDate(mysqlDate) {
      return DateTime.fromSQL(mysqlDate).toFormat('dd.MM.yy').toString();
    },

    /**
     * openURL(url)
     * @param {string} url des zu öffnenden Fensters
     */
    openUrl(url) {
      window.open(url, "_blank");
    },

    closeDialog() {
      this.isVisible = false
    },


  }
}
</script>
<style lang='scss'>
td.item-title {
  font-size: 18px !important;
}

td.item-date {
  font-size: 13px !important;
  text-align: right !important;
}

td.item-link {
  span {
    cursor: pointer;
    font-size: 13px !important;

    i {
      font-size: 14px !important;
    }
  }
}

td.item-id {
  font-size: 13px !important;
  text-align: right !important;
}

td.item-text {
  div {
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 1.4em;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
</style>