<template>
  <div class='widget nova'>

    <el-row :gutter="12">
      <el-col :md="24"
              :lg="8">
        <div class="item-info">

          <div class="item-title error"
               v-html="displayTitle">

          </div>

          <div class="item-date">
            <span class="date-header">Gültigkeit:</span>
            <span class="date-value primary"> {{niceDate(item.BlockedFromDate)}} - {{niceDate(item.BlockedToDate)}}</span>
          </div>

          <div class="item-type">
            <div v-if="item.BlockedType=='Notiz'"><i class="el-icon-edit-outline warning"></i><br>Notiz</div>
            <div v-if="item.BlockedType=='Hinweis'"><i class="el-icon-collection-tag primary"></i><br>Hinweis</div>
            <div v-if="item.BlockedType=='Sperrung'"><i class="el-icon-remove-outline danger"></i><br>Sperrung</div>
          </div>

          <div class="item-link">
            <span class="link-button">
              <el-button type="primary"
                         size="mini"
                         @click="showDetail(item)">
                Öffnen
              </el-button>
            </span>
          </div>

        </div>
      </el-col>
      <el-col :md="24"
              :lg="16">
        <div class="item-info">

          <div class="item-text"
               v-html="displayText">
          </div>

        </div>
      </el-col>
    </el-row>
    <el-row :gutter="12">
      <el-divider></el-divider>
    </el-row>

    <item-detail :currentItem="item"
                 :displayText="displayText"
                 :display-Title="displayTitle"
                 :dlgVisible="detailDialogVisible"
                 @CLOSEDIALOG="closeDetail">
    </item-detail>
  </div>
</template>
<script>

import { DateTime } from 'luxon'
import ItemDetail from '@/components/blockedroads/ItemDetail.vue'

export default {

  props: ['item', 'searchString'],

  components: {
    ItemDetail
  },

  data() {
    return {
      currentItem: {},
      detailDialogVisible: false,
      displayText: '',
      displayTitle: '',
    }
  },

  computed: {},

  watch: {
    searchString(newValue) {
      this.markText(newValue)
    }
  },

  mounted() {
    this.markText(this.searchString)
  },

  methods: {


    /**
     * showDetail(id)
     * Datensatz-ID in der property currentItem speichern
     * Dialogfenster öffnen
     * @param {integer} id -ID des selektierten Datensatzes
     */
    showDetail(item) {
      this.currentItem = item
      this.detailDialogVisible = true
    },



    /**
     * markText(searchFor) 
     * Fundstellen in einem Textfeld highlighten
     * @param {String} searchFor - Text, nach dem gesucht werden soll
     */
    markText(searchFor) {
      if (this.item.length != 0) {
        this.displayText = this.item.BlockedText.replace(new RegExp(searchFor, "gi"), match => {
          return '<span class="highlightText">' + match + '</span>'
        })
        this.displayTitle = this.item.BlockedTitle.replace(new RegExp(searchFor, "gi"), match => {
          return '<span class="highlightText">' + match + '</span>'
        })
      } else {
        this.displayText = this.item.BlockedText
        this.displayTitle = this.item.BlockedTitle
      }
    },



    closeDetail() {
      this.detailDialogVisible = false
    },


    /**
     * openLink(url)
     * @param {string} url des zu öffnenden Fensters
     */
    openLinkUrl(url) {
      window.open(url, "_blank");
    },


    /** 
     * niceDate(mysqlDate)
     * @param {string} Datum im Format yyyy-MM-dd
     * @returns {string} Datum im Format dd.MM.yyyy
    */
    niceDate(mysqlDate) {
      return DateTime.fromSQL(mysqlDate).toFormat('dd.MM.yyyy').toString();
    },

  }
}
</script>
<style lang='scss'>
div.item-info {
  div.item-title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
  }

  div.item-date {
    font-size: 12px;
    margin-top: 12px;

    span.date-header {
      display: block;
    }
    span.date-value {
      font-weight: 500;
    }
  }

  div.item-link {
    margin-top: 12px;
    span.link-text {
      font-size: 10px;
      display: block;
    }
    span.link-button {
      margin-top: 20px;
      display: block;
      margin-bottom: 20px;
    }
  }

  div.item-text {
    font-size: 13px;
    line-height: 1.6em;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
  }

  div.item-type {
    padding-top: 20px;
    div {
      font-size: 12px;
      i {
        font-size: 32px;
      }
    }
  }
}
</style>