<template>
  <div class='widget nova'>

    <item v-for="item in items"
          :key="item.id"
          :item="item"
          :searchString="searchString">
    </item>

  </div>
</template>
<script>

import Item from '@/components/blockedroads/Item.vue'


export default {

  props: ['items', 'searchString'],

  components: {
    Item,

  },

  data() {
    return {}
  },

  computed: {},

  watch: {},

  mounted() { },

  methods: {



  }
}
</script>
<style lang='scss'>
</style>