<template>
  <div class='widget nova'>

    <status v-if="view=='status'"
            :data="currentData"></status>
    <editor v-if="view=='editor'"></editor>

  </div>
</template>
<script>


import Status from '@/components/ausruecken/Status.vue'
import Editor from '@/components/ausruecken/Editor.vue'

export default {

  components: {
    Status,
    Editor,
  },

  data() {
    return {
      view: 'status',
      appSettings: [],
      initialTime: '',
      currentData: {},
    }
  },



  computed: {
    image1() {
      return this.appSettings.imageTLF
    }
  },


  watch: {
    $route() {
      this.view = this.$route.params.view
    }
  },


  mounted() {
    this.init()
  },







  methods: {




    async init() {
      this.view = this.$route.params.view
      await this.$store.dispatch('readSettings')
      this.appSettings = await this.$store.getters.appSettingsAsHash('ausruecken')
      const newTime = await this.loadTimeStamp()
      this.currentData = await this.readFullRecord(newTime)
      this.startTimer()
    },




    startTimer() {
      setInterval(async () => {
        const newTime = await this.loadTimeStamp()
        if (newTime != this.initialTime) {
          // Inhalte laden und anzeigen
          // Die Zeit neu syncen
          this.currentData = await this.readFullRecord(newTime)
        }
      }, 5000);
    },



    async readFullRecord(newTime) {
      const url = 'public/api/ausruecken/read.php'
      return this.axios
        .get(url)
        .then(result => {
          this.initialTime = newTime
          return result.data.record
        })
        .catch(error => console.error("Error: ", error, url))
    },





    async loadTimeStamp() {
      const url = `public/api/ausruecken/read.timestamp.php`
      return this.axios
        .get(url)
        .then(result => result.data.record.t)
        .catch(error => console.error("Error: ", error, url))
    },




  }
}
</script>




<style lang='scss'>
$colorSuccess: rgba(102, 194, 75, 1);
$colorDanger: rgba(230, 90, 80, 1);
$colorPrimary: rgba(0, 109, 143, 1);

img.fzg-image {
  border: 1px solid green;
}

.danger {
  div.card-footer,
  div.el-card__body,
  div.el-card__header {
    background-color: $colorDanger !important;
  }
}

.success {
  div.card-footer,
  div.el-card__body,
  div.el-card__header {
    background-color: $colorSuccess !important;
  }
}

.blue {
  div.card-footer,
  div.el-card__body,
  div.el-card__header {
    background-color: $colorPrimary !important;
  }
}

div.el-row.status-row {
  height: 50px;
  padding-top: 15px;
}

div.el-row.status-row-large {
  height: 70px;
  padding-top: 15px;
}
</style>