<template>
  <div class='widget nova'
       v-loading='loadingData'>
    <auto-liste v-if="view=='autoliste'"
                :settings="appSettings"></auto-liste>
    <such-liste v-if="view=='suchliste'"></such-liste>
  </div>
</template>
<script>



import SuchListe from '@/components/blockedroads/suchliste/SuchListe.vue'
import AutoListe from '@/components/blockedroads/autoliste/AutoListe.vue'

export default {

  components: {
    SuchListe,
    AutoListe,
  },

  data() {
    return {
      view: 'suchliste',
      loadingData: false,
      appSettings: []
    }
  },



  mounted() {
    this.init()
  },



  computed: {},


  watch: {
    $route() {
      this.view = this.$route.params.view
    }
  },



  methods: {

    async init() {
      this.view = this.$route.params.view
      await this.$store.dispatch('readSettings')
      this.appSettings = await this.$store.getters.appSettingsAsHash('blockedRoads')
    }

  },




}
</script>
<style lang='scss'>
h4.compact {
  margin-block-start: 0px !important;
  margin-block-end: 10px !important;
}

.el-message-box {
  border-collapse: separate;
  box-sizing: border-box;
  color: rgb(96, 98, 102);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  white-space: normal;
  word-break: break-all;
  -moz-osx-font-smoothing: grayscale;
}
</style>

