<template>
  <div class='widget'>

    <img src="@/assets/ff_logo.png"
         class="logo">

    <p class="subtitle">
      Freiwillige Feuerwehr Welschbillig <br> FEZ Florian Trier-Land
    </p>
  </div>

</template>


<script>


export default {
  data() {
    return {}
  },


  mounted() {


    /**
     * Beim Start immer die Settings laden.
     * Settings sind in einem Store behandelt
     */
    this.$store.dispatch('readSettings')
  },

  methods: {}
}
</script>
<style lang='css'>
.highlightText {
  background: yellow;
}

img.logo {
  padding-top: 100px;
  max-width: 100%;
  height: auto;
  width: auto\10; /* ie8 */
}

p.subtitle {
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
}
</style>