<template>
  <div class='widget nova'>

    <el-card>
      <template #header>
        <div class="card-header">
          <h3>Einstellungen</h3>
        </div>
      </template>

      <div class="card-body">
        <el-row :gutter="20">
          <el-col v-for="setting in setOfSettings"
                  :key="setting.name"
                  :xs="24"
                  :md="12">

            <el-card>
              <template #header>
                <div class="card-header">
                  {{setting.title}}
                </div>
              </template>

              <div class="card-body"
                   v-loading="loadingData">

                <el-form size="mini"
                         label-width="150px"
                         label-position="right">

                  <el-form-item v-for="row in setting.values"
                                :key="row.id"
                                :label="row.property">
                    <el-input v-model="row.value"></el-input>
                  </el-form-item>
                </el-form>
              </div>
            </el-card>
          </el-col>
        </el-row>

      </div>

      <div class="card-footer">
        <el-button size="mini"
                   type="success"
                   @click="updateSettings(settings)">Speichern</el-button>
        <el-button size="mini"
                   type="primary"
                   @click="reloadSetting">Cancel</el-button>
      </div>

    </el-card>

  </div>
</template>
<script>


export default {
  data() {
    return {
      loadingData: true,
      setOfSettings: [
        { name: 'basic', title: 'Lighthouse', values: [] },
        { name: 'blockedRoads', title: 'Verkehrsstudio', values: [] },
        { name: 'ausruecken', title: 'Ausrücken', values: [] },
      ],
    }
  },


  computed: {
    settings() {
      return this.$store.state.settings
    }
  },



  mounted() {
    this.init()
  },

  methods: {


    async init() {
      this.loadingData = true
      await this.$store.dispatch('readSettings')
      this.compileAppSettings()
      this.loadingData = false
    },


    async addSetting() {
      await this.$store.commit('addSetting')
      this.compileAppSettings()
    },



    async compileAppSettings() {
      this.setOfSettings.forEach(appSetting => {
        appSetting.values = this.settings.filter(item => {
          return item.app == appSetting.name
        })
      })
    },



    /**
     * Bei allen values trailing whitespaces und Smikolon entfernen
     * Danach die neuen Settings im Store schreiben. 
     */
    updateSettings(newData) {
      newData.forEach(item => item.value = item.value.replace(/;\s*$/, ""))
      this.$store.dispatch('updateSettings', newData)
    },



    reloadSetting() {
      this.init()
    }

  }

}
</script>
<style lang='scss'>
</style>