<template>
  <div class='widget nova'>

    <el-row type="flex"
            justify="center">
      <el-col>
        <el-card class="blue-header">
          <template #header>
            <div class="card-header">
              Aktuelle Hinweise
              <el-progress :percentage="progress"
                           :show-text="false"></el-progress>
            </div>
          </template>
          <div class="card-body">
            <item-list :items="items">
            </item-list>
          </div>
        </el-card>
      </el-col>

    </el-row>

  </div>
</template>
<script>

import { DateTime } from 'luxon'
import ItemList from '@/components/blockedroads/ItemList.vue'

export default {

  components: {
    ItemList,
  },


  data() {
    return {
      loadingData: false,

      counter: 0,
      progress: 0,

      appSettings: [],
      items: [],
      dateToday: undefined,
      timeToReload: 60 * 60 * 1000 // Stündlich einmal Reloaden
    }
  },

  computed: {},

  watch: {},

  mounted() {
    this.init()
  },


  methods: {
    async init() {
      this.loadingData = true
      this.appSettings = await this.readSettings('blockedRoads')
      this.dateToday = DateTime.now().toFormat('yyyy-MM-dd')
      this.items = await this.loadData(this.dateToday)
      this.loadingData = false
      this.startTimer()
      this.startReloader()
    },


    startTimer() {
      this.counter = 0
      setInterval(async () => {
        this.counter = this.counter + 1
        this.progress = parseInt((this.counter / 3600) * 100)
        if (this.counter >= 3600) {
          this.counter = 0
        }
      }, 1000)
    },



    /**
     * startReloader()
     * Timer intialisieren und die wiederkehrenden Jobs ausführen
     * Einstellungen lesen
     * Daten laden
     */
    startReloader() {
      setInterval(async () => {
        this.loadingData = true
        this.appSettings = await this.readSettings('blockedRoads')
        const today = DateTime.now().toFormat('yyyy-MM-dd')
        this.items = await this.loadData(today)
        this.loadingData = false
      }, this.timeToReload)
    },



    /**
     * readSettings() 
     * Die Einstellungen für dieses Modul aus dem Store aktualisieren und lasden
     * @param {string} modulName - Name des Modules für das die Einstellungen geladen werden sollen
     * @returns {array} Settings
     */
    async readSettings(moduleName) {
      await this.$store.dispatch('readSettings')
      return await this.$store.getters.appSettingsAsHash(moduleName)
    },



    loadData(today) {
      const url = `public/api/blockedRoads/read.activeblocked.php?today=${today}`
      return this.axios
        .get(url)
        .then(result => result.data.records)
        .catch(error => console.error("Error: ", error, url))
    },

  }
}
</script>
<style lang='scss'>
</style>