<template>
  <el-container>
    <el-aside>
      <navigation></navigation>
    </el-aside>
    <el-main>
      <router-view />
    </el-main>
  </el-container>

</template>

<script>

import Navigation from '@/components/basic/Navigation.vue'


export default {

  components: {
    Navigation,
  },
  data() {
    return {
      showNav: false
    }
  },



}






</script>

<style>
</style>


