.right {
  float: right;
}

.left {
  float: left;
}

i.icon-big {
  font-size: 24px;
  position: relative;
  top: 2px;
}

i.icon-red {
  color: maroon !important;
}

.icon-green {
  color: green !important;
}