div.nova {

  div.el-card {

    box-shadow: none !important;



    div.el-card__body {
      div.card-body {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }

      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;

      div.card-footer,
      div.bottom {
        padding-top: 18px;
        padding-bottom: 18px;
        min-height: 20px;
        border-top: 1px solid $color_card-divider;
        background-color: $color-card-footer;

      }
    }
  }



}