div.nova {
  div.el-dialog {
    div.el-dialog__header {
      border-bottom: 1px solid $color_dialog-divider;
    }

    div.el-dialog__body {
      padding-bottom: 20px;
    }

    div.el-dialog__footer {
      border-top: 1px solid $color_dialog-divider;
      background-color: $color_dialog-footer;
    }
  }

}