<template>
  <div class='widget nova'>

    <el-row type="flex"
            justify="center">
      <el-col>
        <el-card class="blue-header small-header">
          <template #header>
            <div class="card-header">
              Nach Stichwort suchen
            </div>
          </template>

          <div class="card-body">
            <such-form @CHANGE_SERARCH_FOR="
               changedSearchFor">
            </such-form>

            <el-divider></el-divider>

            <item-list :items="items"
                       :searchString="searchFor.searchString">
            </item-list>

          </div>
          <div class="card-footer">

          </div>
        </el-card>
      </el-col>

    </el-row>
  </div>
</template>
<script>

import SuchForm from '@/components/blockedroads/suchliste/SuchForm.vue'
import ItemList from '@/components/blockedroads/ItemList.vue'
import tools from '@/tools/tools.js'

export default {

  components: {
    SuchForm,
    ItemList,
  },

  data() {
    return {
      loadingData: false,
      searchFor: {
        queryString: '',      // SuchString mit Erweiterungen (*)
        searchString: '',     // SuchString in Raw-Form
        searchAllRows: ''     // Suchen auch in nicht aktiven Einträgen
      },
      items: [],
    }
  },

  computed: {},

  watch: {},

  mounted() {

  },

  methods: {


    /**
     * Die Suchparameter wurden in der Suchform-Komponente geändert
     * Geänderte Suchparameter in der lokalen Property speichern
     * @param {object} newValue - neue Suchparameter
     */
    async changedSearchFor(newValue) {
      this.loadingData = true
      this.searchFor = newValue
      if (this.searchFor.queryString.length >= 3) {
        this.items = await this.loadData(this.searchFor)
      } else {
        this.items = []
      }
      this.loadingData = false
    },




    /**
     * loadData(searchFor)
     * Eine Suchanfrage an die Datenbank übergeben
     */
    loadData(searchFor) {
      const url = 'public/api/blockedRoads/search.php'
      const data = tools.toFormData(searchFor)
      return this.axios
        .post(url, data)
        .then(result => result.data.records)
        .catch(error => console.error("Error: ", error, url))
    }

  }
}
</script>
<style lang='scss'>
</style>