<template>
  <div class='widget nova'>

    <div class="text-left">
      <el-form size="mini"
               :inline="true">

        <el-form-item label="Suchbegriff">
          <el-input v-model="searchFor.searchString"
                    placeholder="Suche / Ort / Stichwort"
                    clearable
                    @keyup="changeSearchFor(searchFor)">
          </el-input>
        </el-form-item>
        <el-form-item label="Auch nicht aktive Einträge">
          <el-checkbox v-model="searchFor.searchAllRows"
                       @change="changeSearchFor(searchFor)">
          </el-checkbox>
        </el-form-item>
      </el-form>
    </div>

  </div>
</template>
<script>
export default {

  data() {
    return {
      searchFor: {
        queryString: '',      // SuchString mit Erweiterungen (*)
        searchString: '',     // SuchString in Raw-Form
        searchAllRows: false, // Suchen auch in nicht aktiven Einträgen
      },
    }
  },

  computed: {},

  watch: {},

  mounted() { },

  methods: {

    changeSearchFor(searchFor) {
      if (this.searchFor.searchString.length >= 3) {
        this.searchFor.queryString = this.searchFor.searchString + '*'
      } else {
        this.searchFor.queryString = ''
      }
      this.$emit('CHANGE_SERARCH_FOR', searchFor)

    }


  }
}
</script>
<style lang='scss'>
</style>